.app-container{
  display: flex;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}
.main-content{
  flex: 1;
  padding: 20px;
  background-color:#fefefe ;
}

.sidebar{
  width: 240px;
  background-color:#f7f9fc;
  padding: 20px; 
  
}
.header{
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
